<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../app/app.component.css">
    
    <title>BocaSuelta</title>
</head>
<body>

 <div class="container-principal">
    <nav class="barralateral">
        <header>
            <div class="logo">
                <span class="imagelogo">
                    <img src="../assets/boca-sonriente-actuacion-dientes.png"  class="logo" alt=""> <!--aqui el logo -->
                </span>
            </div>
        </header>


            <div class="menubar">
                <div class="menu">

                    <ul class="menu_conenido">
                        <li class="foto">
                            <a href="">
                              <span> <img src="../assets/casa.png" alt="" width="20px" srcset=""></span>
                            </a>
                          </li>
                        <li class="menu_link">
                            <a href="">
                                    <span class="texto_menu1">Home</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img2.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                    <span  class="texto_menu">Explore</span> 
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img3.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class=""></i>
                                    <span class="texto_menu">Notifications</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img4.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class="."></i>
                                    <span class="texto_menu">Messages</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img5.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class="classbxbx"></i>
                                    <span class="texto_menu">Bookmarks</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img6.jpg " alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class="classbxbx"></i>
                                    <span class="texto_menu">list</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img7.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class="classbxbx"></i>
                                    <span class="texto_menu">Profile</span>
                            </a>

                            <li class="foto">
                                <a href="">
                                  <span> <img src="../assets/img8.jpg" alt="" width="20px" srcset=""></span>
                                </a>
                              </li>
                        </li>

                        <li class="menu_link">
                            <a href="">
                                <i class=""></i>
                                    <span class="texto_menu">More</span>
                            </a>
                        </li>

                        <div class="buton">
                            <button>
                                Chisme
                            </button>
                        </div>
                        
                        <div class="perfil">
                            <div class="perfil-contenido">
                                <img src="../assets/perfil.jpg" alt="profileimg">
                            </div>

                         <div class="name-job">
                             <div class="perfil_nombre">Jerome Bell  </div>
                             <i class="fi fi-sr-menu-dots"></i>
                                <div class="info">@afonsoinocente</div> 
                         </div>
                            
                        </div>

                    </ul>
                </div>
            </div>
    </nav>

    <!--CONTENEDOR 2-->



    <div class="seccion2">
        <div class="titulo2">
            <h4>Home</h4>

        </div>
        

        <div class="tresj">
            <div class="hombre">
                <img src="..//assets/perfil.jpg" alt="profileimg" srcset="">
            </div>
            <div class="nombre">
                <div class="info5">Tú ya sabes...</div>
            </div>
            
            
        </div>
        <div class="fotoscua">
            <img class="imagen" src="../assets/galeria.png" alt="" >
            <img class="imagen" src="../assets/gif.png" alt="" >
            <img class="imagen" src="../assets/grafico-de-barras.png"  alt="" >
            <img class="imagen" src="../assets/cara-feliz.png"  >
            <img class="imagen" src="../assets/calendario.png"  alt="" >
        </div>



        <hr class="separador">

        <div class="post">
          <div class="post_avatar">
              <img src="../assets/perfil.jpg" alt="">
          </div>
          <div class="post_body">
              <div class="post_header">
                  <div class="post_headertext">
                      <h3>
                      Devon Lane
                          <span class="post_header1">
                              <span class="material-icons post__badge">verified</span>@devonlane1 ´ 23s
                          </span>
                      </h3>
                  </div>
                  <div class="post_headerdescription">
                      <p>Tom is in a hurry</p>
                  </div>
              </div>
              <img src="../assets/autronauta.jpg" alt="">
              <div class="post_footer">
                  <span class="material-icons">mode_comment</span> <p class="numeros">46</p>
                  <span class="material-icons">repeat</span> <p class="numeros">46</p>
                  <span class="material-icons">favorite_border</span> <p class="numeros">46</p>
                  <span class="material-icons">publish</span> <p class="numeros">46</p>
              </div>
          </div>
      </div>

      <div class="post">
        <div class="post_avatar">
            <img src="..//assets/boca-sonriente-actuacion-dientes.png" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="post_headertext">
                    <h3>
                    Devon Lane
                        <span class="post_header1">
                            <span class="material-icons post__badge">verified</span>@devonlane1 ´ 23s
                        </span>
                    </h3>
                </div>
                <div class="post_headerdescription">
                    <p>Tom is in a hurry</p>
                </div>
            </div>
            <img src="../assets/sala.jpg" alt="">
            <div class="post_footer">
                <span class="material-icons">mode_comment</span> <p class="numeros">46</p>
                <span class="material-icons">repeat</span> <p class="numeros">46</p>
                <span class="material-icons">favorite_border</span> <p class="numeros">46</p>
                <span class="material-icons">publish</span> <p class="numeros">46</p>
            </div>
        </div>
    </div>

    </div>

    

    <!--CONTENEDOR 3-->

  <div class="seccion3">
    <div class="tarjeta0">
      <p class="enfocar">       <img  class="enfocarF" src="../assets/enfocar.png" alt=""  > 
        Buscar  </p>
    </div>
    <div class="tarjeta1">
        <div class="info1">
            <h5>Ultimos Chismes</h5>
        </div>

        <hr>

        <div class="info2">
            <span>COVID 19 ` Last night</span>

            <div class="parrafo1">
              <p class="textoT1">Englands Chief Medical Officer says the Uk is at the most dangerous time of the pandemic </p>
              <img class="uno" src="../assets/TJ1.jpg" alt="">
            </div>

            <div class="fininfo1">
              <span class="fin1">Trending with  <span class="finTJ1"> #covid 19</span> </span>
            </div>
        </div>

        <hr>

        <!--parrafo 2-->

        <div class="info2">
          <span>COVID 19 ` Last night</span>

          <div class="parrafo1">
            <p class="textoT1">Englands Chief Medical Officer says the Uk is at the most dangerous time of the pandemic </p>
            <img class="uno" src="../assets/TJ2.jpg" alt="">
          </div>

          <div class="fininfo1">
            <span class="fin1">Trending with  <span class="finTJ1"> #covid 19</span> </span>
          </div>
      </div>

      <hr>

              <!--parrafo 3-->


      <div class="info2">
        <span>COVID 19 ` Last night</span>

        <div class="parrafo1">
          <p class="textoT1">Englands Chief Medical Officer says the Uk is at the most dangerous time of the pandemic </p>
          <img class="uno" src="../assets/TJ3.jpg" alt="">
        </div>

        <div class="fininfo1">
          <span class="fin1">Trending with  <span class="finTJ1"> #covid 19</span> </span>
        </div>
    </div>

    <span class="finTJ2">Show more</span>

    </div>

    <!--TARJETA 2 SECCION 3-->

    <div class="tarjeta2">
      <div class="TJ2-1">
        <h4>Boca Suelta Tops</h4>
    </div>

    <hr>
    

      <div class="perfil100">
        <div class="perfil-contenido">
            <img src="../assets/perfil.jpg" alt="profileimg">
        </div>

     <div class="name-job">
         <div class="perfil100_nombre">Jerome Bell  
         </div>
         <i class="fi fi-sr-menu-dots"></i>
            <div class="info100">@afonsoinocente</div> 
            <div class="lado1">
                <p class="lado1P">Follow</p>
            </div>


     </div>
        


    </div>

    <div class="perfil100">
      <div class="perfil-contenido">
          <img src="../assets/perfil.jpg" alt="profileimg">
      </div>

   <div class="name-job">
       <div class="perfil100_nombre">Jerome Bell  </div>
       <i class="fi fi-sr-menu-dots"></i>
          <div class="info100">@afonsoinocente</div> 
          <div class="lado2">
            <p class="lado1P">Follow</p>


          </div>


   </div>
   
      
  </div>
  <span class="finTJ3">Show more</span>


    </div>

        <div class="info1001">Terms of service Privacy Policy Coockie Policy</div> 
        <footer class="info1002">
            <p>Adds Info More &copy;2021 Twiter.Inc</p>
        </footer>


    </div>
    
    </div>

</div>
</div>
</div>

<script src="https://kit.fontawesome.com/deff6278cf.js" crossorigin="anonymous"></script>
</body>
</html>